
.bars {
    display: none;
}

@media(max-width:900px) {

    .bars {
        display: block;
        cursor: pointer;
    }

    .bars__icon {
        color: #ffffff;
        width: 18px;
        height: 21px;
    }
    
}