.menu__list {
    display: flex;
    list-style: none;
}

@media(max-width:900px) {
    
    .menu__list {
        display: block;
        width: fit-content;
        margin: 5px auto 0;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .menu.active .menu__list {
        opacity: 1;
    }
}