
.menu__link {
    display: block;
    color: #ffffff;
    font-size: 1.125rem;
    padding: .625rem .938rem;
    border-radius: 15px;
    transition: .2s;
    text-decoration: none;
    transition: .5s;
    overflow: hidden;
}

.menu__link:hover {
    color: #a00505;
}

@media(max-width:900px) {
    
    .menu__link {
        margin-bottom: 20px;
    }
}