
@media(max-width:900px) {

    .menu {
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #f03434

    }

    .menu.active {
        height: 375px;
    }

}