.nosotros__descripcion {
    color: var(--color-textos);
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 2.3rem;
    text-align: justify;
    padding: .3rem;
    line-height: var(--separacion-texto);
}