
.banner__imagen {
    height: calc(100vh - 480px);
    background: url(../../img/banner.jpg) no-repeat center / cover;
}

@media (min-width:768px) {

    .banner__imagen {
        height: calc(100vh - 375px);
    }
    
}

@media (min-width:1024px) {

    .banner__imagen {
        height: calc(100vh - 440px);
    }
}