.acercaDe__valores-items {
    text-align: justify;
    margin: 1.1rem;
}

.acercaDe__valores-items strong {
    font-weight: 400;
}

.acercaDe__valores-items p {
    color: #595959;
    font-weight: 100;
    font-size: 1rem;
    text-align: justify;
    margin-top: .3rem;
    line-height: var(--separacion-texto);
}