
.footer__horario {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

@media (min-width:768px) {

    .footer__horario {
        width: 45%;
    }
    
}