
:root {
    --font:'Inter', sans-serif;
    --color-textos: #595959;
    --separacion-texto-titulo: 1.6rem;
    --separacion-texto: 1.3rem;
    --color-titulo: #f03434;
    --color-background: #403c3c08;
}

